.text {
    font-size:20pt;
    color:black;
}
.color{
    color:yellow;
}
.background{
    background-color:rgb(245, 168, 238);
}
.black{
    color:black
}
.img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}